body {
  background-image: url('http://www.wallpaperinfinite.com/upload/wallpaper_images/abstract%20art%20background%20wallpaper80354.jpg');
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
h1 { 
color: #E6E6FA;
text-align: center;
}
.h1, p {
color: #E6E6FA;
text-align: center;
}
.images, img {
    display: block; margin: 0 auto;
}
 .buttons, ul {
     text-align: center;
}
body {
    font-family: "Palatino Linotype"
}
